section {
  min-height: calc(100vh - 30px);
  background: url(/Resources/Images/System/Account/Map.png) center;
  overflow-y: hidden;
}
section .container {
  margin-top: 30px;
  overflow: hidden;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  section .container {
    height: calc(100vh - 90px);
  }
}
section .container .Map {
  margin-top: 15px;
  float: right;
  overflow: hidden;
  padding: 0;
}
section .container .Map #Map {
  width: 100%;
  height: calc(100vh - 30px);
}
section .container .Back {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 40px;
  height: 40px;
  margin: 5px;
  background: url('/Resources/Images/System/Icons/back.svg') no-repeat center;
  display: inline-block;
  background-size: cover;
  float: left;
  z-index: 10000;
}
section .container .InfoBlock {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  float: left;
}
@media (min-width: 992px) {
  section .container .InfoBlock {
    height: 100%;
  }
}
section .container .InfoBlock::-webkit-scrollbar {
  width: 0px;
}
section .container .InfoBlock .Name {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  padding-left: 10px;
  font-family: Lisa;
  background-color: rgba(40, 57, 101, 0.9);
  color: whitesmoke;
}
section .container .InfoBlock .Name .Ratings {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  float: right;
  margin: 5px 10px 5px 0;
  background: #222930;
  color: #ffffff;
  border-radius: 1vh;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
section .container .InfoBlock .BlockDescription {
  height: auto;
  width: 100%;
  padding: 10px;
}
section .container .InfoBlock .BlockDescription .Description {
  text-align: justify;
  font-family: FashionLight;
  font-size: 14px;
  font-weight: 900;
  word-wrap: break-word;
}
section .container .InfoBlock .BlockDescription .IBlock {
  width: calc(100% - 15px);
  padding: 3px 0px 0 0px;
  min-height: 35px;
  height: auto;
  font-family: FashionLight;
  font-size: 16px;
  font-weight: 900;
}
section .container .InfoBlock .BlockDescription .IBlock .Image {
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}
section .container .InfoBlock .BlockDescription .IBlock .Title {
  display: inline-block;
  width: calc(100% - 40px);
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
}
section .container .InfoBlock .BlockDescription .IBlock .Title .Adress {
  display: inline-block;
  width: calc(100% - 40px);
  height: auto;
  min-height: 30px;
  text-align: left;
  padding-left: 10px;
}
section .container .InfoBlock .BlockDescription .IBlock .Title .DescriptionRoute {
  margin-left: 35px;
  font-weight: 500;
}
section .container .InfoBlock .Value {
  text-align: center;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  display: inline-block;
  float: left;
  margin-top: 10px;
}
section .container .InfoBlock .Value .VTitle {
  text-align: center;
  float: left;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: Lisa;
}
section .container .InfoBlock .Value .VBlock {
  width: auto;
  height: 30px;
  float: left;
  line-height: 30px;
  margin: 0 2px;
  position: relative;
  z-index: 1;
}
section .container .InfoBlock .Value .VBlock .Image {
  width: 30px;
  height: 30px;
  background: no-repeat center;
  background-size: 26px;
  float: left;
  cursor: pointer;
  /*filter: grayscale(1);*/
  transition: none;
}
section .container .InfoBlock .Value .VBlock .Count {
  width: auto;
  min-width: 25px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  padding: 3px;
  background: #ddd;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 35px;
  box-shadow: 0 0 0 1px #ababab;
  position: relative;
}
section .container .InfoBlock .Value .VBlock .Count:before {
  content: '◀';
  font-size: 6.5px;
  position: absolute;
  left: -4px;
  color: #dddddd;
  text-shadow: -2px 0 0 #ababab;
}
section .container .InfoBlock .Value .VBlock .Like {
  background-image: url('/Resources/Images/System/Icons/Like1.png');
}
section .container .InfoBlock .Value .VBlock .Dislike {
  background-image: url('/Resources/Images/System/Icons/Dislike1.png');
}
section .container .InfoBlock .Value .VBlock .Checkin {
  background-image: url('/Resources/Images/System/Icons/Checkin1.png');
}
section .container .InfoBlock .Message {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 100000;
}
section .container .InfoBlock .Message .Block {
  vertical-align: middle;
  width: 80%;
  line-height: normal;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #ff0000;
  background: #efefef;
  float: none;
  padding: 10px;
}
section .container .InfoBlock .Message .Block .Close {
  float: right;
  width: 20px;
  height: 20px;
  background-image: url('/images/icon/Close.svg');
  background-size: cover;
}
section .container .InfoBlock .Message .Block .Text {
  width: 100%;
  color: black;
  padding: 10px 0;
  font-family: Lisa;
  font-size: 17px;
  float: right;
  text-align: justify;
}
section .container .InfoBlock .Message .Block .Entry {
  display: inline-block;
  float: right;
  width: auto;
  height: 15px;
  line-height: 15px;
  font-family: Lisa;
  font-size: 15px;
  text-decoration: none;
  color: #4EB1BA;
}
section .container .InfoBlock .Album {
  display: inline-block;
  float: left;
  width: calc(100% - 20px);
  height: 180px;
  position: relative;
  margin: 10px;
}
section .container .InfoBlock .Album .Photo {
  width: calc(100% / 2 - 10px);
  height: 170px;
  margin: 5px;
  background: no-repeat center;
  background-size: cover;
  float: left;
}
section .container .InfoBlock .Album .CountPhoto {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: aliceblue;
  text-align: center;
  float: none;
  z-index: 100;
  position: absolute;
  bottom: calc((180px - 50px)/2);
  left: calc((100% - 50px)/2);
}
section .container .InfoBlock .Album .CountPhoto .Count {
  height: 25px;
  line-height: 38px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: Lisa;
}
section .container .InfoBlock .Album .CountPhoto .Title {
  height: 25px;
  line-height: 18px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: Lisa;
}
section .container .InfoBlock .Album .CountPhoto div {
  float: left;
}
section .container .InfoBlock .Reviews {
  display: inline-block;
  float: left;
  width: calc(100% - 20px);
  height: auto;
  margin: 10px;
  border-top: 1px solid rgba(40, 57, 101, 0.9);
  border-bottom: 1px solid rgba(40, 57, 101, 0.9);
}
section .container .InfoBlock .Reviews .RTitle {
  width: calc(100% - 10px);
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  font-family: Lisa;
  margin: 5px;
  float: left;
}
section .container .InfoBlock .Reviews .Messages {
  display: inline-block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(40, 57, 101, 0.9);
}
section .container .InfoBlock .Reviews .Messages .RTextBox {
  width: calc(100% - 10px);
  height: 70px;
  margin: 5px;
  font-size: 12px;
  font-family: FashionLight;
  padding: 2px;
  font-weight: 900;
  border-color: rgba(40, 57, 101, 0.9);
}
section .container .InfoBlock .Reviews .Messages .RSubmit {
  width: 100px;
  height: 25px;
  line-height: 25px;
  float: right;
  background-color: rgba(40, 57, 101, 0.9);
  font-size: 12px;
  font-family: FashionLight;
  color: white;
  font-weight: 900;
  border: none;
  margin-bottom: 10px;
}
section .container .InfoBlock .Reviews .NoComment {
  width: calc(100% - 10px);
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  font-family: Lisa;
  margin: 5px;
  float: left;
}
section .container .InfoBlock .Reviews .UserReview {
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px;
  border-top: 1px solid rgba(40, 57, 101, 0.9);
}
section .container .InfoBlock .Reviews .UserReview .Login {
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: FashionLight;
  float: left;
  font-weight: 900;
}
section .container .InfoBlock .Reviews .UserReview .Date {
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: FashionLight;
  float: right;
  font-weight: 900;
}
section .container .InfoBlock .Reviews .UserReview .Comment {
  width: 100%;
  height: auto;
  text-align: justify;
  font-family: FashionLight;
  font-size: 10px;
  font-weight: 900;
  margin: 25px 0 10px 0;
  white-space: normal;
  word-wrap: normal;
}
@media (max-width: 992px) {
  section .container .Map #Map {
    height: 300px;
  }
}