body {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}
body .Img {
  height: 170px;
  width: 100%;
  background: center no-repeat;
  background-size: cover;
  background-position: top;
  float: left;
}
body .Name {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  padding-left: 10px;
  font-family: Lisa;
  background-color: rgba(40, 57, 101, 0.9);
  color: whitesmoke;
}
body .BlockDescription {
  height: auto;
  width: 100%;
  padding: 10px;
}
body .BlockDescription .Description {
  text-align: justify;
  font-family: FashionLight;
  font-size: 14px;
  font-weight: 900;
  word-wrap: break-word;
}
body .BlockDescription .IBlock {
  width: 100%;
  padding: 3px 0px 0 0px;
  min-height: 35px;
  height: auto;
  font-family: FashionLight;
  font-size: 16px;
  font-weight: 900;
}
body .BlockDescription .IBlock .Image {
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}
body .BlockDescription .IBlock .Title {
  display: inline-block;
  width: calc(100% - 30px);
  height: 30px;
  line-height: 30px;
  text-align: left;
}
body .ButtonBlock {
  width: 100%;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
}
body .ButtonBlock button {
  width: calc(100% - 20px);
  height: 35px;
  line-height: 35px;
  border: none;
  border-radius: 25px;
  margin: 0px 10px;
  background-color: rgba(40, 57, 101, 0.9);
  color: whitesmoke;
}
body .ButtonBlock span {
  color: rgba(40, 57, 101, 0.9);
}