body .MinPage {
  position: relative;
  overflow: hidden;
}
body .MinPage .miniMap {
  width: 100%;
  height: 150px;
  line-height: normal;
  overflow: hidden;
  display: none;
  float: left;
}
@media (max-width: 768px) {
  body .MinPage .miniMap {
    display: inline-block;
  }
}
body .MinPage .Messages {
  width: 100%;
  height: 100%;
  min-height: 50px;
  line-height: 50px;
  padding: 10px 10px 50px 10px;
  line-height: normal;
  display: inline-block;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 768px) {
  body .MinPage .Messages {
    height: calc(100% - 150px);
  }
}
body .MinPage .Messages .Message {
  display: inline-block;
  float: left;
  position: relative;
  width: 90%;
  padding: 5px 10px;
  border-radius: 5px;
  background: #e0c3ff;
  font-size: 14px;
  text-align: left;
}
body .MinPage .Messages .Message:not(:first-child) {
  margin-top: 10px;
}
body .MinPage .Messages .Message:before {
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #e0c3ff;
  border-right: 5px solid #e0c3ff;
  border-top: 0;
  position: absolute;
  bottom: 3px;
}
body .MinPage .Messages .Message.Left:before {
  border-left: 0;
  border-right: 5px solid #e0c3ff;
  left: -5px;
}
body .MinPage .Messages .Message.Right:before {
  border-right: 0;
  border-left: 5px solid #d9edf7;
  right: -5px;
}
body .MinPage .Messages .Message.Right {
  background-color: #d9edf7;
  float: left;
}
body .MinPage .Messages .ButtonAnswer {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
body .MinPage .Messages .ButtonAnswer button {
  width: 40%;
  height: 30px;
  border-radius: 20px;
  font-weight: 700;
  border: 0;
}
body .MinPage .Messages .ButtonAnswer .Yes {
  background-color: #77ff7c;
  margin-right: 10px;
}
body .MinPage .Messages .ButtonAnswer .No {
  background-color: #ff5757;
}
body .MinPage .MessageInputBlock {
  display: inline-block;
  width: calc(100% - 10px);
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 1px 2px #283965, 0 0 10px 10px #ffffff, inset 0 0 0 1px #283965;
}
body .MinPage .MessageInputBlock .MessageInput {
  display: inline-block;
  float: left;
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 40px 0 10px;
  border-radius: 15px;
  outline: none;
}
body .MinPage .MessageInputBlock .ButtonMessage {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  float: left;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: none;
  background-color: #283965;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #283965;
  outline: none;
}