.Home {display: inline-block; float: left; width: 100vw; height: 100vh;}
.Home .Map {filter: blur(5px);}
.Home .Block {position: relative; top: -100vh; background: rgba(0,0,0,.6);}

.Main {position: absolute; align-self: baseline;}