body {margin: 0; padding:0; overflow: hidden;}
a {text-decoration: none !important; color: rgb(0,0,0);}
header, section, footer {display: inline-block; float: left; width: 100vw; height: auto; overflow: hidden;}

.Left {float: left !important;}
.Right {float: right !important;}

header {background-color: rgba(0, 0, 0, 0); text-transform: uppercase; word-wrap: initial; position: fixed; top: 0; left: 0; padding-top: 50px; z-index: 1; transition: .5s;}
header .container * {display: inline-block; float: left; height: 40px; line-height: 40px; color: rgb(255,255,255);  transition: .5s;}
header .container img {height: 30px; margin: 5px;}
header .container img.user {border-radius: 25% 0; box-shadow: inset 0 0 0 1.5px rgb(255,255,255); cursor: pointer;}
header .container .Item {padding: 0 7px;}
header.min {padding-top: 0; background-color: rgba(0, 0, 0, .7);}
header.min .container * {height: 30px; line-height: 30px; font-size: 14px;}
header.min .container img {height: 20px;}