section .Home {
  display: inline-block;
  float: left;
  width: 100vw;
  height: 100vh;
}
section .Home .Map {
  position: relative;
  top: -100vh;
  filter: blur(5px);
  z-index: -1;
}
section .Home .Block {
  background: rgba(0, 0, 0, 0.6);
  line-height: 100vh;
  text-align: center;
}
section .Home .Block .Middle {
  display: inline-block;
  text-align: left;
  color: white;
}
section .Home .Block .Middle * {
  display: inline-block;
}
section .Home .Block .Middle .Globe {
  float: left;
  margin-left: 5%;
  width: 40%;
}
section .Home .Block .Middle .Globe img {
  width: 100%;
}
section .Home .Block .Middle .BlockTitle {
  float: left;
  margin-right: 5%;
  width: 50%;
}
section .Home .Block .Middle .BlockTitle * {
  line-height: normal;
}
section .Home .Block .Middle .BlockTitle .Title {
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
}
section .Home .Block .Middle .BlockTitle .Description {
  font-size: 20px;
}