@import "../Default.less";

body {
    header {
        background-color: rgba(0, 0, 0, 0);
        text-transform: uppercase;
        word-wrap: initial;
        position: fixed;
        top: 0;
        left: 0;
        padding: 50px 0;
        z-index: 1;

        &, & * {
            transition: .5s;
        }

        .container {

            * {
                display: inline-block;
                float: left;
                height: 30px;
                line-height: 30px;
                color: white;
                font-size: 16px;

                img {
                    height: 30px;
                    margin-right: 5px;

                    &.user {
                        margin-right: 0;
                        margin-left: 5px;
                        border-radius: 25% 0;
                        box-shadow: inset 0 0 0 1.5px white;
                        cursor: pointer;
                    }
                }

                .Item {
                    padding: 0 7px;
                    cursor: pointer;

                    &:hover {
                        box-shadow: inset 0 -1px 0 0 white;
                    }
                }
            }
        }

        &.min {
            padding: 0;
            background-color: rgba(0, 0, 0, .5);

            .container {
                &, & * {
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                }

                img {
                    height: 20px;
                    margin: 5px;
                }
            }
        }
    }
}
