body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}
body::-webkit-scrollbar-button {
  background-image: none;
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: white;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
body::-webkit-resizer {
  background-image: none;
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
body .Left {
  float: left !important;
}
body .Right {
  float: right !important;
}
body a {
  text-decoration: none !important;
  color: black;
}
body header,
body section,
body footer {
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
}
body header {
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  word-wrap: initial;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 0;
  z-index: 1;
}
body header,
body header * {
  transition: .5s;
}
body header .container * {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 16px;
}
body header .container * .Account {
  position: relative;
}
body header .container * .Account img {
  height: 30px;
  margin-right: 5px;
}
body header .container * .Account img.user {
  margin-right: 0;
  margin-left: 5px;
  border-radius: 25% 0;
  box-shadow: inset 0 0 0 1.5px white;
  cursor: pointer;
}
body header .container * .Account:hover .Info {
  display: inline-block;
}
body header .container * .Account .Info {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(40, 57, 101, 0.9);
  border-radius: 3px;
  height: auto;
  line-height: normal;
}
body header .container * .Account .Info.show {
  display: inline-block;
}
body header .container * .Account .Info::before {
  content: '▲';
  position: absolute;
  top: -14px;
  right: 0;
  font-size: 10px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding-right: 10px;
  color: rgba(40, 57, 101, 0.9);
  text-align: right;
}
body header .container * .Account .Info *:not(hr) {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  padding: 0 10px;
}
body header .container * .Account .Info hr {
  height: auto;
  line-height: normal;
  margin: 0;
  width: 100%;
  border-color: white;
}
body header .container * .Item {
  padding: 0 7px;
  cursor: pointer;
}
body header .container * .Item:hover {
  box-shadow: inset 0 -1px 0 0 white;
}
body header.min {
  padding: 0;
  background-color: rgba(40, 57, 101, 0.9);
}
body header.min .container,
body header.min .container * {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
body header.min .container img {
  height: 20px;
  margin: 5px;
}
body .footer {
  height: 30px;
  background-color: rgba(40, 57, 101, 0.9);
}
.header.min {
  z-index: 1000;
}
body .InputHelp {
  position: relative;
}
body .InputHelp .HelpMessage {
  display: none;
  float: none;
  width: calc(100% - 60px);
  margin: 0 30px;
  height: auto;
  line-height: normal;
  font-size: 12px;
  background-color: white;
  color: #32426b;
  position: absolute;
  bottom: calc(100% + 2px);
  z-index: 1000;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #32426b;
  text-align: center;
}
body .InputHelp .HelpMessage::after {
  content: '▼';
  font-size: 8px;
  color: white;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -6px;
  text-shadow: 0 1px 0 #32426b;
}
body .InputHelp .HelpMessage.Show {
  display: inline-block;
}
body .InputHelp .HelpMessage.Show ~ .HelpInput {
  box-shadow: inset 0 0 0 1px #ff0000;
}