@{
    Layout = ViewBag.Page.LayoutHref;
}
<section id="Home" class="Home Section">
    <div class="Block Home">
        <div class="container">
            <div class="Middle">
                <div class="Globe">
                    <img alt="new world" title="NEW WORLD" src="/Resources/Images/System/Icons/globe_white.svg" />
                </div>
                <div class="BlockTitle">
                    <div class="Title">New World</div>
                    <div class="Description">Открой свой мир по-новому!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Map Home" id="Map"></div>
</section>
<section id="Main" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">Основное</span>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock MapImg" id="MapPage">
                    <div class="Title">Карта</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock QuestImg">
                    <div class="Title">Квесты</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock NewsImg">
                    <div class="Title">Новости</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Intristing" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">Интересное</span>
            </div>
            <div class="col-xs-12 BlockName">
                <span class="BlockTitle">Объекты</span>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock MapImg">
                    <div class="Title">Карта</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock QuestImg">
                    <div class="Title">Квесты</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock NewsImg">
                    <div class="Title">Новости</div>
                </div>
            </div>
            <div class="col-xs-12 BlockName">
                <span class="BlockTitle">Квесты</span>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock MapImg">
                    <div class="Title">Карта</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock QuestImg">
                    <div class="Title">Квесты</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ImgBlock NewsImg">
                    <div class="Title">Новости</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="About" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">О нас</span>
            </div>
            <div class="col-xs-12">
                <span class="BlockTitle">Диплом сссука</span>
            </div>
        </div>
    </div>
</section>