@using NW.BL.DTO;
@using NW.BL.Services;
@{
    Layout = ViewBag.Page.LayoutHref;
}
<input id="message" value="@ViewBag.Message" hidden style="display:none;"/>

<section id="Home" class="Home Section">
    <div class="Block Home">
        <div class="container">
            <div class="Middle">
                <div class="Globe">
                    <img alt="new world" title="NEW WORLD" src="/Resources/Images/System/Icons/globe_white.svg" />
                </div>
                <div class="BlockTitle">
                    <div class="Title">New World</div>
                    <div class="Description">Открой свой мир по-новому!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Map Home" id="Map"></div>
</section>
<section id="Main" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">Основное</span>
            </div>
            <div class="col-md-6">
                <div class="ImgBlock MapImg" id="MapPage">
                    <div class="Title">Карта</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ImgBlock QuestImg" id="QuestPage">
                    <div class="Title">Квесты</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Intristing" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">Интересное</span>
            </div>
            <div class="col-xs-12 BlockName">
                <span class="BlockTitle">Объекты</span>
            </div>
            @{
                int i = 0;
                string src = "/Resources/Images/System/Home/нетфото.png";
                foreach (PlaceDTO place in ViewBag.placeDTO)
                {
                    i++;
                    if (i < 4)
                    {
                        <div class="col-md-4">
                            <div class="ImgBlock MapImg" style="background-image:url(@if (place.MainPhoto != null)
                            {@place.MainPhoto} else {@src});">
                                <a href="/Map/InformPlace/@place.Id" class="Title">@place.Name</a>
                            </div>
                        </div>
                    }
                    else { break; }
                }
            }
            <div class="col-xs-12 BlockName">
                <span class="BlockTitle">Квесты</span>
            </div>
            @{
                i = 0;
                foreach (QuestDTO quest in ViewBag.questDTO)
                {
                    i++;
                    if (i < 4)
                    {
                        <div class="col-md-4">
                            <div class="ImgBlock QuestImg" style="background-image: url(@if (quest.SRC != "")
                            {@quest.SRC} else {@src});">
                                <a href="/Quest/InformQuest/@quest.Id" class="Title">@quest.Name</a>
                            </div>
                        </div>
                    }
                    else { break; }
                }
            }
        </div>
    </div>
</section>
<section id="About" class="Block Section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 BlockHeader">
                <span class="BlockTitle">О нас</span>
            </div>
            <div class="col-xs-12">
                <span class="BlockTitle">Выполнила: студентка 4 курса, Попова Алина</span>
            </div>
        </div>
    </div>
</section>