@{
    Layout = ViewBag.Page.LayoutHref;
}
<section id="Home" class="Home Section">
    <div class="Block Home">
        <div class="container">
            <div class="Middle">
                <div class="Globe">
                    <img alt="new world" title="NEW WORLD" src="~/Resources/Images/System/Icons/globe_white.svg" />
                </div>
                <div class="BlockTitle">
                    <div class="Title">New World</div>
                    <div class="Description">Открой свой мир по-новому!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Map Home" id="Map"></div>
</section>
<section id="Main" class="Main Section" style="height: 5000px; background-color: red;">
</section>
<section id="Intristing" class="Intristing Section" style="height: 5000px; background-color: yellow;">
</section>
<section id="About" class="About Section" style="height: 5000px; background-color: green;"></section>