@{
    Layout = ViewBag.Page.LayoutHref;
}
<section id="Home" class="Home Section">
    <div class="Map Home" id="Map"></div>
    <div class="Block Home"></div>
</section>
<section id="Main" class="Main Section">
</section>
<section id="Intristing" class="Intristing Section">
</section>